<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="vendors/toastr.min.css">
<link rel="stylesheet" href="styles/custom.css">
<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
<script type="text/javascript" src="vendors/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="vendors/toastr.min.js"></script>
<script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="vendors/jsencrypt.min.js"></script>
<script type="text/javascript" src="vendors/triplesec-3.0.0-min.js"></script>
<script type="text/javascript" src="vendors/uuid.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/requests.js"></script>
</head>
<body>
   <div class="container">
    <div class="row">
		<div class="btn-group btn-group-justified">

            <div class="btn-group">
                <button type="button" class="btn btn-nav"  data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus-sign"></span>
    			    <p>Signup</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-toggle="modal" data-target="#login">
                    <span class="glyphicon glyphicon-user"></span>
    			    <p>Login</p>
                </button>
            </div>

        </div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Signup</h4>
      </div>
      <div class="modal-body" style="display: inline">

               <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12" id="signUpSelectDiv">
                          <select class="selectpicker form-control" id="signUpSelect">
                              <option disabled selected value="noChannel">Select the Communication Channel</option>
                              <option value='https'>Secure HTTPS</option>
                              <option value='wss'>Secure Web Socket</option>
                        </select>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg" name="firstname" id='firstname' placeholder="First Name" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg" name="lastname" id='lastname' placeholder="Last Name" type="text">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg"  name="email" id='username' placeholder="Email Address" type="email">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg" name="password" id='password' placeholder="Password" type="password">
                        </div>
                      </div>
                    </div>
                  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="register">Save changes</button>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body" style="display: inline;">
                 <div class="form-group">
                    <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12" id="loginSelectDiv">
                          <select class="selectpicker form-control" id="loginSelect">
                              <option disabled selected value="noChannel">Select the Communication Channel For Login</option>
                              <option value='https'>Secure HTTPS</option>
                              <option value='wss'>Secure Web Socket</option>
                        </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg" name="email" id='username_login' placeholder="Email Address" type="email">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                  <div class="rows">
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <input class="form-control input-lg" name="password" id='password_login' placeholder="Password" type="password">
                        </div>
                      </div>
                    </div>
                  </div>



      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" id='doLogin'>Login</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
