<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/css/main.css" rel="stylesheet">

</head>
<body>
<%- body %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/jquery.js"></script>
<script src="/js/main.js"></script>
</body>
</html>