<!DOCTYPE html>
<html>
<head>
    <title>Web Socket Demo</title>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script>
        var socket = io.connect('https://localhost:5000');
        socket.on('status', function (data) {
            console.log(data);
            socket.emit('getSignUpData', { my: 'data' });
        });

    </script>
</head>
<body>

</body>
</html>